{#-Interface VLAN Configuration Template #}
!
{% for interface in interfaces -%}
{%- if interface.vlan -%}
  interface vlan {{ interface.vlan }}
  description {{ interface.description }}
  no shutdown
{%- if interface.fst_ip %}
  ip address {{ interface.ip_address }}{{ interface.fst_ip }} {{ interface.subnet_mask }}
{%- elif interface.snd_ip %}
  ip address {{ interface.ip_address }}{{ interface.snd_ip }} {{ interface.subnet_mask }}
{%- elif interface.vlan == 5 %}
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
  exit
ip default-gateway 172.16.5.1
{%- elif interface.vlan == 70 %}
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
{%- elif interface.vlan == 80 %}
  ip address {{ interface.ip_address }} {{ interface.subnet_mask }}
{%- endif %}
{%- if interface.glbp_priority %}
  glbp {{ interface.vlan }} priority {{ interface.glbp_priority }}
  {%- endif %}
{%- if interface.glbp_priority == 110 %}
  glbp {{ interface.vlan }} preempt
{%- endif %}
{%- if interface.glbp_vip %}
  glbp {{ interface.vlan }} authentication md5 key-string s!a863
  glbp {{ interface.vlan }} ip {{ interface.ip_address }}{{ interface.glbp_vip }}
{%- endif %}
!
{% endif -%}
{% endfor -%}