{# Interface Access Configuration Template #}
!
{% for interface in interfaces -%}
{% if interface.int_access -%}
interface {{ interface.name }}
  description {{ interface.description }}
  switchport mode {{ interface.int_access.mode }}
  switchport access vlan {{ interface.access_vlan }}
  no shutdown
{%- if interface.access_vlan == 5 %}
  spanning-tree bpduguard disable
{%- else %}
  spanning-tree portfast
{%- endif %}
!
{% endif -%}
{% endfor -%}